<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gene.mapper.ImageMapper" >
  <resultMap id="BaseResultMap" type="gene.model.Image" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="queryField" property="queryField" jdbcType="VARCHAR" />
    <result column="fileUrl" property="fileUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, queryField, fileUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from images
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getGeneExpressionOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from images
    where queryField =  #{queryField}
  </select>

  <select id="getGeneExpression" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from images
    where queryField in
    <foreach item="item" collection="array" index="index" open="(" separator="," close=")">
      #{queryField}
    </foreach>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from images
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gene.model.Image" >
    insert into images (id, queryField, fileUrl
      )
    values (#{id,jdbcType=INTEGER}, #{queryField,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="gene.model.Image" >
    insert into images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="queryField != null" >
        queryField,
      </if>
      <if test="fileUrl != null" >
        fileUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="queryField != null" >
        #{queryField,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gene.model.Image" >
    update images
    <set >
      <if test="queryField != null" >
        queryField = #{queryField,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        fileUrl = #{fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="gene.model.Image" >
    update images
    set queryField = #{queryField,jdbcType=VARCHAR},
      fileUrl = #{fileUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>