.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: inline;
}

.form-group.radio {
    margin: 5px;
}

.form-control-inline {
    width: 90%;
    display: inline;
}

.form-control-inline-all {
    width: 100%;
    display: inline;
}